.topContainer {
  background-color: #66BFBF;
  margin-bottom: 50px;
}
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 100%}

.bottomcloud {
  position: absolute;
}

.topcloud {
  position: absolute;
  padding-top: 45px;
  padding-left: 120px;
}

h1 {
  margin-top: 0;
  padding-top: 125px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 4em;
    color: #11999E;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #cae8d5;
  color: #40514e;
}
h2{
  font-family: 'Montserrat', serif;
  color: #11999E;
}
  h3 {
  font-family: 'Montserrat', serif;
      color: #11999E;
  }
  td, th {
border: 1px solid #11999E;
text-align: left;
padding: 8px;
  color: #11999E;
}

tr:nth-child(even) {
background-color: #fcf8f3;
}
.table{
  padding-left: auto;
  padding-right: auto;
}
table {
  font-family: 'Montserrat', serif;
  border-collapse: collapse;
  width: 50%;
}
.para1{
  font-size: 20px;
    color: #11999E;
  font-weight: normal;
}
.bottom-container{
  color: #11999e;
}
.btn{
  color: #11999e;
}

.footer-link{
  color: #11999e;
  padding: 25px;
  font-family: 'Montserrat', serif;
  text-decoration: none;

}
a:hover{
  color: #eaf6f6;
}
.skill-row{
  margin: 50px auto;
  width: 50%;
  text-align: left;
}
.skill{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 20px;
}
.skill1{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-right: 10px;

}
.bottom-container{
    background-color: #66BFBF;
    height: 150px;
      padding-top: 50px;
      margin-top: 50px;


}
hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}
p{
  line-height: 2;
    font-family: 'Montserrat', serif;

}
.intro{
  width: 30%;
  margin: auto;
}
.skillm{
  margin-top: 100px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.contact-me{
  margin-bottom: 50px;
}
.classname {
	-moz-box-shadow: -1px 2px 0px -3px #1564ad;
	-webkit-box-shadow: -1px 2px 0px -3px #1564ad;
	box-shadow: -1px 2px 0px -3px #1564ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:46px;
	line-height:46px;
width:152px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #528ecc;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.classname:active {
	position:relative;
	top:1px;
}
